.trackingInExpand {
  -webkit-animation: trackingInExpand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    0.5s both;
  animation: trackingInExpand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}

@-webkit-keyframes trackingInExpand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    filter: blur(12px);
  }
  40% {
    opacity: 0.6;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
    filter: blur(0);
  }
}

@keyframes trackingInExpand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    filter: blur(12px);
  }
  40% {
    opacity: 0.6;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
    filter: blur(0);
  }
}
